:root {
  --light: #E2DCC3;
  --dark: #333;
  --bright: #B15D44;
  --darkish: #819D95;
}

html {
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(12px, 4.5vmin, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  overflow: hidden;
}

.logo-main {
  width: clamp(200px,25vmin,256px);
}

.logo-small {
  height: 36px;
}

.menuBtn {
  height: 20px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 101;

  >span {
    background-color: whitesmoke;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;

    &:after,
    &:before {
      content: '';
      background-color: whitesmoke;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -15px;
    }

    &:after {
      top: -10px;
    }

    &:before {
      bottom: -10px;
    }
  }
}

.landing-parent,
.game-parent,
.results-parent {
  /* .landing-parent{ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
}

.landing {
  width: 100vw;
  height: 100dvh;
  max-height: 768px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr .5fr .75fr 1.5fr 1fr;
  gap: 4px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "header"
    "logo"
    "tagline"
    "choose"
    "levels"
    "date";
}

.header {
  grid-area: header;
}

.logo {
  grid-area: logo;
  align-self: end;
}

.tagline {
  align-self: start;
  grid-area: tagline;

  & h3 {
    font-weight: 400;
    margin-top: 0;
    font-style: italic;
  }
}

.choose {
  align-self: end;
  grid-area: choose;

  h4 {
    font-weight: 400;
    margin-bottom: 0;
  }
}

.date {
  align-self: start;
  grid-area: date;
}

.levels {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr .5fr .5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "easy"
    "medium"
    "hard";
  justify-self: stretch;
  align-self: stretch;
  grid-area: levels;
}

.easy {
  grid-area: easy;
}

.medium {
  grid-area: medium;
}

.hard {
  grid-area: hard;
}

.game {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  /* justify-content: center; */
  grid-template-areas:
    "game-header"
    "game-area";
}

.game-header {
  display: flex;
  justify-content: space-between;
  grid-area: game-header;
}

.game-area {
  height: 100%;
  width: clamp(325px, 85vmin, 512px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.05fr 0.07fr 0.08fr 0.1fr 0.7fr;
  gap: 2px 4px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-auto-flow: row;
  grid-template-areas:
    "level level"
    "timer timer"
    "stats stats"
    "answer-a answer-b"
    "image-cards image-cards";
  grid-area: game-area;
}

.level {
  grid-area: level;
  padding-top: 0;
  align-self: flex-start;
}

.timer {
  grid-area: timer;
  font-size: 28px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-self: flex-end;
}

.stats {
  grid-area: stats;
  width: 100%;
  /* justify-items: flex-start; */
  align-self: flex-start;
}

.progress-bar {
  display: flex;
  width: 100%;
  height: 32px;

  & #complete {
    flex-grow: 0;
    background-color: var(--bright);
    color: var(--light);
    transition: all .5s ease-in-out;
  }

  & #incomplete {
    flex-grow: 1;
    background-color: var(--light);
    color: var(--dark);
    transition: all .5s ease-in-out;
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & p {
      padding: 4px;
    }
  }
}

.answer-a {
  grid-area: answer-a;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 16px;
  width: 100%;
  height: 60%;
  &::before {
    content: " ";
    border-left: 2px solid var(--light);
    border-bottom: 2px solid var(--light);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    display: inline-block;
  }
}



.answer-b {
  grid-area: answer-b;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 16px;
  width: 100%;
  height: 60%;
  &::after {
    content: " ";
    border-right: 2px solid var(--light);
    border-top: 2px solid var(--light);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    display: inline-block;
  }
}

.choice {
  font-size: clamp(20px, 4.5vmin, 24px);
}

.image-cards {
  align-self: start;
  grid-area: image-cards;
  position: relative;
  width: 100%;
  height: 100%;
  /* padding-top: calc(100% * (4 / 3)); */
}

.image-card {
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: calc(100% * (4 / 3));
  transform: scale(.85);
  top: -4%;
  z-index: 80;
  transition: all .5s ease-in-out;
  &.current {
    transform: scale(1);
    top: 4%;
    z-index: 100;
  };
  &.next {
    transform: scale(.9);
    z-index: 99;
  };
  &.answered-a {
    animation: swipe-left .5s ease-in-out both;
    transform: scale(1);
    top: 0;
    z-index: 105;
  };
  &.answered-b {
    animation: swipe-right .5s ease-in-out both;
    transform: scale(1);
    top: 0;
    z-index: 105;
  };
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  user-select: none;
}

.image-card .credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .6rem;
  text-align: right;
  color: var(--light);
  padding: 64px 8px 8px 8px;
  background: linear-gradient(#00000000, #00000090);
  pointer-events: none;
  cursor: default;
  border-radius: 0 0 8px 8px;

  & a {
    color: inherit;
    text-decoration: none;
  }
}

button {
  font-size: clamp(20px, 4.5vmin, 24px);
  width: 50vmin;
  min-height: 36px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--bright);
  color: var(--light);
}

/* .left-arrow {

}

.right-arrow {

} */

/* button .focus {
} */

.display-none {
  display: none;
  opacity: 0;
}

.fade-in-1s {
  animation: fade-in 1s linear forwards;
}

.fade-in-1s-delayed-1s {
  animation: fade-in 1s linear 1s forwards;
}

.fade-out-1s {
  animation: fade-out 1s linear forwards;
}

.fade-out-1s-delayed-1s {
  animation: fade-out 1s linear 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: initial;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: initial;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes swipe-left {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(-150%);
    opacity: .9;
  }

  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

@keyframes swipe-right {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(+150%);
    opacity: .9;
  }

  100% {
    transform: translateX(+150%);
    opacity: 0;
  }
}